.mainWraaper {
    margin-top: 2vh;
    width: 100vw;
    height: 100vh;
}

.menuList > li > a {
    display: block;
    background-color: #015EAB;
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 33%;
    height: 50px;
    line-height: 50px;
    border: 0.5px solid white;
}

.menuList > li > a:hover {
    background-color: white;
    color: #015EAB;
    border: 0.5px solid #015EAB;
}

.menuList > li > a:focus {
    background-color: white;
    color: #015EAB;
    border: 0.5px solid #015EAB;
    font-weight: 900;
}

.context {
    width: 100vw;
    height: 100%;
    background-color: whitesmoke;
}